/.run/
/.idea/
/node_modules/
/_dev/
/vendor/
/config/config.php
.DS_Store

/cache/**
!/cache/**/.gitkeep

/logs/**
!/logs/**/.gitkeep

/uploads/**
!/uploads/**/.gitkeep

/web/public/uploads/**
!/web/public/uploads/**/.gitkeep
!/web/public/uploads/profiles/**/.gitkeep
!/web/public/uploads/images/**/.gitkeep
