{% import "tools.twig" as tools %}
<div class="related-products">
    <div class="sec-title">
        <h2>{{ _('LBL_RELATED_PRODUCTS') }}</h2>
    </div>

    <div class="row clearfix">
        {% for id, item in relatedProducts %}
            {{ tools.productItem(item, settings.stopSale, false, _context) }}
        {% endfor %}
    </div>
</div>