<p class="small text-muted text-center">
    &copy; {{ "now"|date("Y") }} {{ constant('APPLICATION_NAME') }} All Rights Reserved
    <br>
    <a href="https://www.careline.hu" target="_blank">www.careline.hu</a>
</p>