<div class="sidebar vh-100">
    <div class="sidebar-header">
        <a href="/" class="logo">
            <img src="/images/logo-white.svg" alt="{{ constant('APPLICATION_NAME') }}" id="main-logo">
            {{ constant('APPLICATION_NAME') }}
        </a>
    </div>
    <div class="sidebar-body">
        {% include 'menu.twig' %}
    </div>
</div>



