<div class="sidebar vh-100">
    <div class="sidebar-header">
        <a href="/" class="logo-">
            <img src="{{ uploads }}logo-white.svg" alt="{{ constant('APPLICATION_NAME') }}" height="50" width="220" id="main-logo">
        </a>
    </div>
    <div class="sidebar-body">
        {% include 'menu.twig' %}
    </div>
</div>



