<a href="#" data-toggle="modal" data-target="#confirm-delete" data-confirm-question="{{ _('CONFIRM_DELETE_TABLE_RECORD')|e }}" data-confirm-action="removeInterval({{ row.__id }}, {{ row.si_sm_id }});" class="btn btn-light h-danger"><i class="far fa-trash-alt"></i></a>
