<body>
{% include 'sidebar.twig' %}
<div class="main">
    <div class="main-header">
        {% include 'navbar.twig' %}
    </div>
    <div class="main-body">
        {% if settings.stopSale %}
            <div class="alert alert-danger alert-accent">
                <i class="fas fa-exclamation-circle"></i>
                {{ _('LBL_STOP_SALE_ON') }}
                <div><a class="small" href="/webshop/settings/">{{ _('LBL_TURN_OFF') }}</a></div>
            </div>
        {% endif %}

        {% if pageName and page != 'index' %}
            <h1 class="{% if pageSubTitle  %}mb-0{% else %}mb-3{% endif %} text-primary">{{ _(pageName)|raw }}</h1>
        {% endif %}
        {% if pageSubTitle and page != 'index' %}
            <h4 class="mb-3 text-secondary">{{ _(pageSubTitle)|raw }}</h4>
        {% endif %}

        {% include page ~ '.twig' %}
    </div>
</div>

{% include 'page-modals.twig' %}
