.has-error input {
  border-color: $danger !important;
}
.has-warning input {
  border-color: $warning !important;
}
.has-success input {
  border-color: $success !important;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error label,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: $danger;
}

.has-error input::placeholder {
  color: $danger;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: $warning;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: $success;
}

.cursor-pointer,
.tr-clickable {
  cursor: pointer;
}

.footer-links a {
  color: $white !important;;
}

.footer-links a:hover {
  color: $white !important;
  text-decoration: underline;
}

.btn-light {
  border-color: #ced4da !important;
}

#quantity {
  border-right: none !important;
}

.item-tags {
  font-size: 17px;
}

.text-pink {
  color: $pink;
}

.text-muted {
  color: $light-grey !important;;
}

.small {
  font-size: 80% !important;
}

.item-fee {
  position: absolute;
  top: 0;
  right: 0;
}

/** Floating labels **/

.floating-label {
  position: relative;
  margin-bottom: $spacer;
}

.floating-label input{
  height: 50px;
}

.floating-label > textarea,
.floating-label > input,
.floating-label > label {
  padding: $spacer * .9 $spacer * .75;
}

.floating-label > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: $gray-800;
  border: 1px solid transparent;
  border-radius: $border-radius-sm;
  transition: all .1s ease-in-out;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.floating-label textarea::-webkit-input-placeholder,
.floating-label input::-webkit-input-placeholder {
  color: transparent;
}

.floating-label textarea:-ms-input-placeholder,
.floating-label input:-ms-input-placeholder {
  color: transparent;
}

.floating-label textarea::-ms-input-placeholder,
.floating-label input::-ms-input-placeholder {
  color: transparent;
}

.floating-label textarea::-moz-placeholder,
.floating-label input::-moz-placeholder {
  color: transparent;
}

.floating-label textarea::placeholder,
.floating-label input::placeholder {
  color: transparent;
}

.floating-label textarea:focus,
.floating-label input:focus,
.floating-label textarea:not(:placeholder-shown),
.floating-label input:not(:placeholder-shown) {
  padding-top: calc(#{$spacer} + #{$spacer} * (2 / 3));
  padding-bottom: calc(#{$spacer} / 3);
}

.floating-label textarea:focus ~ label,
.floating-label input:focus ~ label,
.floating-label textarea:not(:placeholder-shown) ~ label,
.floating-label input:not(:placeholder-shown) ~ label {
  padding-top: calc(#{$spacer} / 3);
  padding-bottom: calc(#{$spacer} / 3);
  font-size: 12px;
  color: $gray-500;
}

.form-row .floating-label label:not(.error) {
  padding-left: calc(#{$spacer} * 1.1);
}

.dropdown-menu {
  z-index: 1025 !important;
}

.form-control:focus-visible {
  text-shadow: none !important;
}

// Input clearable
.input-clearable {
  position: relative;

  // hide icon
  [data-toggle="clear"] {
    display: none;
  }
  // show icon when non-empty input focused
  .form-control:not(:placeholder-shown):focus {
    + [data-toggle="clear"] {
      display: block;
    }
  }
  // show icon when container hovered and input not empty
  &:hover .form-control:not(:placeholder-shown) + [data-toggle="clear"] {
    display: block;
  }
}

.input-clearable [data-toggle="clear"] {
  cursor: pointer;
  color: $danger;
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 20px;
  z-index: 10;
}

.text-content p {
  margin: 1em 0;
}

.text-content li {
  list-style: inherit !important;
  font-size: 17px;
  line-height: 29px;
}

.text-content ul {
  list-style: inherit !important;
}

.content-description ul {
  padding: 0 0 0 20px;
}
.content-description li {
  list-style: disc;
}