$primary-color: #7E422D;
$blue: #41b6e2;
$light-blue: #5fcac7;
$green: #46cf93;
$light-green: #82d5af;
$pink: #ff91a4;
$red: #ff5555;
$yellow: #ffc000;
$white: #ffffff;
$grey: #6c757d;
$light-grey: #bfc3c9;
$black: #000000;

$success: $green;
$warning: $yellow;
$danger: $red;
$info: $blue;


$primary-font-family: 'ABeeZee';
//$header-font-family: 'Merienda One'; //'cursive'
//$header-font-family: 'Italianno';
$header-font-family: 'Charm';


$slider-font-family: 'Charm';