
/***

====================================================================
		Recipes Section
====================================================================

***/

.recipes-section{
  position: relative;
  margin-top: -100px;
  padding: 120px 0 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes-section .recipes-carousel{
  position: relative;
}

.recipe-block{
  position: relative;
}

.recipe-block .recipe-image{
  position: relative;
  margin-bottom: 0;
  text-align: center;
}

.recipe-block .recipe-image img{
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
}

.recipes-carousel .owl-nav{
  display: none;
}

.recipes-carousel .owl-dots{
  position: relative;
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.recipes-carousel .owl-dot{
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background: $pink;
  opacity: 0.6;
}

.recipes-carousel .owl-dot:hover,
.recipes-carousel .owl-dot.active{
  opacity: 1;
}

.recipes-section.style-two{
  padding: 70px 0 110px;
  margin-top: -1px;
}

.recipes-section.style-two .recipe-block .recipe-image{
  text-align: left;
}

.recipes-section.style-two .recipe-block .recipe-image img{
  max-width: 100%;
  width: auto;
  height: auto;
}

.recipes-section.style-two .recipes-carousel .owl-dot{
  background-color: #4b4342;
}

/***

====================================================================
		Recipes Section Two
====================================================================

***/

.recipes-section-two{
  position: relative;
  padding: 80px 0 65px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes-section-two:before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: rgba(255,255,255,0.9);
}

/* Cooked Recipe Search */

.cooked-recipe-search{
  position: relative;
  margin-bottom: 20px;
}

.cooked-recipe-search .browse-recipe{
  position: relative;
  float: left;
  width: 14%;
  margin-right: 1%;
}

.browse-recipe .browse-btn{
  position: relative;
  display: block;
  cursor: pointer;
  background: rgba(0,0,0,.075);
  border-radius: 6px;
  text-align: left;
  color: #4b4342;
  width: 100%;
  font-size: .9rem;
  line-height: 3rem;
  height: auto;
  padding: 0 1rem;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);
  -webkit-transition: all .2s cubic-bezier(.42,0,.15,1);
  -moz-transition: all .2s cubic-bezier(.42,0,.15,1);
  -o-transition: all .2s cubic-bezier(.42,0,.15,1);
  transition: all .2s cubic-bezier(.42,0,.15,1);
}

.browse-recipe .browse-btn:hover {
  background: rgba(0,0,0,.1);
}

.browse-recipe .browse-btn:before{
  content: "\f107";
  opacity: .25;
  font-family: 'Font Awesome 5 Free';
  font-size: 18px;
  position: absolute;
  top: 50%;
  font-weight: 900;
  right: 1.5rem;
  line-height: 1.25rem;
  height: 1.25rem;
  margin-top: -.5rem;
}

.browse-recipe .browse-dropdown{
  position: absolute;
  width: 170%;
  padding: 1.5rem;
  cursor: default;
  z-index: 99;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  top: 4rem;
  left: -11px;
  margin: 0;
  line-height: 1.5rem;
  border-radius: 3px;
}

.browse-recipe .browse-dropdown a{
  position: relative;
  display: block;
  display: block;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $light-blue;
  line-height: 1.6em;
}

.browse-recipe .browse-dropdown a:hover{
  color: $light-blue;
}

.browse-dropdown .cooked-title{
  display: block;
  font-size: .9rem;
  font-weight:800;
  text-transform: uppercase;
  margin: 0 0 .6rem;
  padding: 0 10px .6rem 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

/* Search Recipe Form */

.search-recipe-form{
  position: relative;
  float: left;
  width: 85%;
}

.search-recipe-form .form-group{
  position: relative;
}

.search-recipe-form .cooked-browse-search{
  position: relative;
  background-color: #fff;
  font-size: 16px;
  color: #4b4342;
  padding: 0 10px;
  border: 1px solid #edecec;
  max-width: 100%;
  margin: auto;
  min-width: 160px;
  min-height: 48px;
  border-radius: 6px;
  width: 100%;
}

.search-recipe-form .cooked-sortby-wrap{
  position: absolute;
  right: 56px;
  top: 0;
  max-width: 192px;
}

.cooked-recipe-search .cooked-sortby-wrap select {
  margin: 0;
  box-shadow: none;
  position: relative;
  width: 100%;
  min-width: 190px;
  background: 0 0;
  cursor: pointer;
  font-size: .9rem;
  border: none;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 100%;
  border-radius: 0;
  display: inline-block;
  padding: 0 1.25rem;
}

.cooked-recipe-search .search-recipe-submit{
  position: absolute;
  right: 0;
  top: 0;
}

.cooked-recipe-search .search-recipe-submit .theme-btn{
  position: relative;
  right: 1px;
  width: 56px;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  line-height: 48px;
  height: 48px;
  cursor: pointer;
  background-color: $light-blue;
  border-radius: 0 6px 6px 0;
  -webkit-transition: all .2s cubic-bezier(.42,0,.15,1);
  -moz-transition: all .2s cubic-bezier(.42,0,.15,1);
  -o-transition: all .2s cubic-bezier(.42,0,.15,1);
  transition: all .2s cubic-bezier(.42,0,.15,1);
}

.cooked-recipe-search .search-recipe-submit .theme-btn:hover{
  background-color: #1b9371;
}

/* Recipe Block Two */

.recipe-block-two{
  position: relative;
  margin-bottom: 30px;
}

.recipe-block-two .image-box{
  position: relative;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all .2s cubic-bezier(.42,0,.15,1);
  -moz-transition: all .2s cubic-bezier(.42,0,.15,1);
  -ms-transition: all .2s cubic-bezier(.42,0,.15,1);
  -o-transition: all .2s cubic-bezier(.42,0,.15,1);
  transition: all .2s cubic-bezier(.42,0,.15,1);
}

.recipe-block-two .image-box:hover{
  -webkit-transform: translate3d(0,-2px,0);
  -moz-transform: translate3d(0,-2px,0);
  -ms-transform: translate3d(0,-2px,0);
  -o-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 5px 10px rgba(0,0,0,.075);
  -moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 5px 10px rgba(0,0,0,.075);
  -ms-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 5px 10px rgba(0,0,0,.075);
  -o-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 5px 10px rgba(0,0,0,.075);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 5px 10px rgba(0,0,0,.075);
}

.recipe-block-two .date{
  position: absolute;
  min-width: 84px;
  min-height: 84px;
  top: 10px;
  left: 12px;
  padding: 12px 0;
  border-radius: 50px;
  text-align: center;
  background: $white;
  font-size: 28px;
  line-height: 1.2em;
  display: block;
  font-weight: 500;
  color: $pink;
  font-family: $header-font-family;
  z-index: 1;
}

.recipe-block-two .date span{
  display: block;
  color: #4b4342;
  font-size: 18px;
  line-height: 1em;
}

.recipe-block-two .image{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 0;
}

.recipe-block-two .image img{
  display: block;
  width: 100%;
}

.recipe-block-two .caption-box{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: calc(100% - 40px);
  box-shadow: none;
  box-sizing: border-box;
  background: rgba(255,255,255,0.85);
  margin: 20px;
  border-radius: 15px;
  padding-bottom: 2px;
  padding-top: 12px;
}

.recipe-block-two .caption-box h3{
  position: relative;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.65rem;
  margin: .25rem 0;
  color: #4b4342;
}

.recipe-block-two .caption-box h3 a{
  color: #4b4342;
  display: inline-block;
}

.recipe-block-two .caption-box .devider{
  display: block;
  width: 15%;
  height: 6px;
  border-radius: 3px;
  background: #ddd;
  margin: 1rem auto;
  -webkit-transition: all .2s cubic-bezier(.42,0,.15,1);
  -moz-transition: all .2s cubic-bezier(.42,0,.15,1);
  -o-transition: all .2s cubic-bezier(.42,0,.15,1);
  transition: all .2s cubic-bezier(.42,0,.15,1);
}

.recipe-block-two .image-box:hover .caption-box .devider{
  width: 25%;
  background-color: #5FCAC4;
}

.recipes-section-two.alternate{
  padding: 120px 0 100px;
  margin-top: -30px;
}

.recipes-section-two.alternate:before{
  background-color: rgba(0,0,0,0.1);
}

.recipes-section-two.alternate .sec-title{
  margin-bottom: 60px;
}

.recipes-section-two.alternate .btn-box{
  position: relative;
  text-align: center;
  margin-top: 20px;
}

/***

====================================================================
		Recipe Section Three
====================================================================

***/

.recipes-section-three{
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 180px 0 150px;
  margin-top: -90px;
}

.recipes-section-three:before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  content: "";
}

.recipes-section-three .title-column{
  position: relative;
  display: flex;
}

.recipes-section-three .title-column .inner-column{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1;
  text-align: center;
}

.recipes-section-three .title-column h3{
  position: relative;
  color: #4b4342;
  font-size: 42px;
  line-height: 1.2em;
  margin-bottom: 30px;
}

.recipes-section-three .title-column h3 span{
  position: relative;
  display: block;
  color: $light-blue;
}

.recipes-section-three .divider{
  margin-bottom: 20px;
}

.recipes-section-three .divider img{
  position: relative;
  display: block;
  height: 40px;
  margin: 0 auto;
}

.recipes-section-three .slider-column{
  position: relative;
}

.recipes-section-three .owl-dots{
  margin-top: 30px;
}


/***

====================================================================
		Recipe Single
====================================================================

***/

.recipe-single{
  position: relative;
}

.recipe-block-two .lower-content{
  position: relative;
  padding-top: 40px;
}

.recipe-block-two .lower-content p{
  position: relative;
  margin-bottom: 1em;
}

.recipe-block-two .post-info{
  position: relative;
  background: #f8f8f8;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}

.recipe-block-two .post-info li{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #4b4342;
  margin-right: 16px;
}

.recipe-block-two .post-info li:last-child{
  margin-right: 0;
}

.recipe-block-two .post-info li a{
  color: #4b4342;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.recipe-block-two .post-info li a:hover{
  color: $pink;
}

.recipe-block-two .post-info li .icon{
  position: relative;
  float: left;
  margin-right: 10px;
  color: $pink;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.cooked-recipe-info{
  position: relative;
  margin-bottom: 1rem;
}

.cooked-recipe-info .cooked-left{
  position: relative;
  float: left;
}

.cooked-recipe-info .cooked-right{
  position: relative;
  float: right;
}

.cooked-recipe-info .cooked-time,
.cooked-recipe-info .cooked-servings,
.cooked-recipe-info .cooked-difficulty-level,
.cooked-recipe-info .cooked-category,
.cooked-recipe-info .cooked-author{
  position: relative;
  line-height: 1.25rem;
  box-sizing: border-box;
  vertical-align: top;
  margin: 0 2rem 1rem 0;
  display: inline-block;
  width: auto;
}

.cooked-recipe-info .cooked-time,
.cooked-recipe-info .cooked-servings,
.cooked-recipe-info .cooked-author{
  padding-left: 50px;
}

.cooked-recipe-info .cooked-icon,
.cooked-recipe-info .cooked-author .cooked-author-avatar{
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
}

.cooked-recipe-info .cooked-author .cooked-author-avatar img{
  display: block;
  width: 100%;
  border-radius: 50%;
}

.cooked-recipe-info .cooked-icon{
  font-size: 30px;
  line-height: 40px;
  display: block;
  text-align: center;
  color: #999999;
}

.cooked-recipe-info strong {
  font-size: .75rem;
  letter-spacing: .03rem;
  font-weight: 800;
  text-transform: uppercase;
  display: block;
  color: #4b4342;
}

.cooked-recipe-info a{
  color: $light-blue;
  display: inline-block;
  font-size: 17px;
}

.cooked-recipe-info a:hover{
  color: $light-blue;
}

.cooked-recipe-info .difficulty{
  position: relative;
  font-size: 18px;
  color: #4b4342;
}

.cooked-recipe-info .sortby-select{
  width: 270px;
  height: 34px;
}

.cooked-recipe-info .select2-selection--single{
  height: 34px;
  padding: 3px 0;
  border-radius: 0px;
}

.cooked-recipe-info .select2-selection__arrow b:before,
.cooked-recipe-info .select2-selection__arrow b{
  background-color: transparent !important;
}

.cooked-recipe-info .cooked-print,
.cooked-recipe-info .cooked-fsm-button{
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.cooked-recipe-info .cooked-fsm-button .cooked-icon,
.cooked-recipe-info .cooked-print .cooked-icon{
  position: relative;
  display: inline-block;
  font-size: 40px;
}

.cooked-recipe-info .cooked-time .cooked-icon{
  font-size: 36px;
}

.cooked-recipe-info .cooked-time{
  font-size: 16px;
}

.cooked-recipe-info .cooked-time:last-child{
  margin-right: 0;
}

/* Cooked Recipe Ingredients */

.cooked-recipe-ingredients{
  position: relative;
  margin-bottom: 2rem;
}

.cooked-single-ingredient{
  position: relative;
  padding: .5rem 0 0 2rem;
  margin: 0;
  font-size: 16px;
}

.cooked-single-ingredient .cooked-ingredient-checkbox{
  position: absolute;
  top: .5rem;
  left: 0;
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #ddd;
  margin: .2rem .8rem 0 0;
  border-color: rgba(0,0,0,.2);
  -webkit-transition: all .1s cubic-bezier(.42,0,.15,1);
  -moz-transition: all .1s cubic-bezier(.42,0,.15,1);
  -o-transition: all .1s cubic-bezier(.42,0,.15,1);
  transition: all .1s cubic-bezier(.42,0,.15,1);
}

.cooked-single-ingredient .cooked-ingredient-checkbox:hover {
  border-color: #bbbbbb;
  border-color: rgba(0,0,0,.5);
}

.cooked-single-ingredient.checked .cooked-ingredient-checkbox:after{
  position: absolute;
  top: -2px;
  left: 0;
  font-size: .6rem;
  line-height: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  content: "\f00c";
  color: #888888;
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
}

.cooked-single-ingredient.checked{
  text-decoration: line-through;
  opacity: .5;
}

/* Cooked Recipe Directions */

.cooked-recipe-directions{
  position: relative;
}

.cooked-single-direction{
  position: relative;
  padding-left: 2rem;
}

.cooked-single-direction .cooked-direction-number{
  opacity: .35;
  position: absolute;
  display: inline-block;
  width: auto;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800;
  top: 0;
  left: 0;
  font-size: 1.5rem;
}

.cooked-single-direction p{
  position: relative;
  margin-bottom: 0 !important;
}

.recipe-single .devider{
  position: relative;
  margin: 90px auto 80px;
  outline-style: none;
  text-align: center;
  min-height: 3px;
  border-color: #edecec;
  overflow: hidden;
  max-width: 370px;
  z-index: 1;
}

.recipe-single .devider img{
  display: block;
  margin: auto;
  padding: 0 20px;
  height: 36px;
  background: $white;
}

.recipe-single .devider:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -1.5px;
  border-bottom: 3px solid;
  border-color: inherit;
}

/***

====================================================================
		Recipe Full Screen
====================================================================

***/

.jquery-modal{
  z-index: 99;
}

.jquery-modal .model{
  position: absolute;
  max-width: 100%;
  width: 100%;
  padding: 0;
  left: 0;
  top: 0;
}

.recipe-fullscreen-model{
  position: absolute;
  width: 100%;
  height: 100%;
}

.cooked-fsm-directions .cooked-panel,
.cooked-fsm-ingredients .cooked-panel{
  padding-left: 1%;
  padding-right: 2%;
}

.recipe-fullscreen-model h2{
  margin-bottom: 0.5em;
  font-size: 1rem;
  padding: 0;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-weight: 800;
}

.recipe-fullscreen-model .cooked-fsm-top{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.2rem;
  background: #16a780;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  padding: 0 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 3.5rem;
  height: 3.5rem;
  z-index: 9;
}

.recipe-fullscreen-model .cooked-fsm-ingredients{
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  padding: 5.5rem 2rem 1rem;
  font-size: 1rem;
  line-height: 1.6rem;
  height: 100vh;
  background: #f9f9f9;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.recipe-fullscreen-model .cooked-fsm-ingredients .cooked-recipe-ingredients{
  margin-top: -.75rem;
}

.recipe-fullscreen-model .cooked-fsm-ingredients .cooked-single-ingredient{
  padding: .75rem 0 0 2rem;
}

.recipe-fullscreen-model .cooked-single-direction{
  padding-left: 2.3rem;
}

.recipe-fullscreen-model .cooked-single-direction p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0 0 1.5rem !important;
}

.recipe-fullscreen-model .cooked-single-direction .cooked-direction-number {
  font-size: 1.8rem;
}

.recipe-fullscreen-model .cooked-fsm-directions{
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  padding: 5.5rem 2rem 1rem;
  font-size: 1rem;
  line-height: 1.6rem;
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.close-recipe-fsm{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  background-color: #16a780;
  color: $white;
  z-index: 999;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.close-recipe-fsm:hover{
  color: $white;
}

.recipe-fullscreen-model .cooked-ingredient-checkbox{
  top: .75rem;
}
