.ui-autocomplete {
  z-index: 1100 !important;
}

.ui-autocomplete {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-menu .ui-menu-item {
  padding: 2px;
}

.ui-menu .ui-menu-item-wrapper {
  padding: $input-padding-y $input-padding-x;
  border: none;
}

.ui-autocomplete {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.ui-autocomplete-category {
  background-color: $dark !important;
  color: $white;
  padding: 10px 14px;
  margin: 0;
  font-weight: 600;
}

.ui-menu .ui-menu-item a {
  display: block;
  padding: 3px 1em 3px 0.4em;
  text-decoration: none;
}

.ui-state-active,
.ui-state-focus {
  border: 1px solid $primary !important;
  border-radius: 4px;
  background-color: theme-color-level('primary', $table-bg-level) !important;
  color: $primary !important;
}

.ui-autocomplete-subtext {
  color: $text-muted;
  font-size: $small-font-size;
}
