.has-warning .form-control,
.has-error .form-control,
.has-success .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control {
  border-color: $danger !important;
}
.has-warning .form-control {
  border-color: $warning !important;
}
.has-success .form-control {
  border-color: $success !important;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error label,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: $danger;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: $warning;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: $success;
}

.has-error .input-group-text {
  border-color: $danger;
}

.has-error .input-floating-label .floating-label {
  color: $danger !important;
}

.has-error .error {
  color: $danger !important;
  font-size: $font-size-sm;
  margin-bottom: 0;
}



.cursor-pointer,
.tr-clickable {
  cursor: pointer;
}


/* ui date-picker css */
.ui-datepicker {
  background: #fff !important;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  z-index: 2000 !important;
}
.ui-widget {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}
.ui-widget-header {
  border: 0;
  background: none !important;
  background-color: #ffffff;
  font-weight: 600;
}
.ui-widget-header select {
  font-weight: normal;
}
.ui-datepicker th {
  font-weight: 600;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
}
.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-focus {
  border: 0;
  background: none !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0;
  background: #ffffff;
  font-weight: normal;
  color: #000;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  border-radius: 4px;
  background-color: $blue;
  color: #ffffff;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 0;
  background-color: #EEEEEE;
  border-radius: 4px;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 0;
  color: #FFFFFF;
}

.ui-datepicker-today,
.ui-datepicker-today .ui-state-highlight,
.ui-datepicker-today .ui-state-default {
  color: $danger !important;
}

.ui-datepicker-today .ui-state-active {
  background-color: $blue !important;
  color: #FFFFFF;
}

.ui-datepicker-week-end,
.ui-datepicker-week-end .ui-state-default,
.ui-datepicker-week-end .ui-state-disabled {
  color: $blue;
}

/*
.bootstrap-select .dropdown-menu,
.bootstrap-autocomplete {
  border-color: $primary !important;
  border-radius: 0 0 .25rem .25rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.bootstrap-autocomplete.dropdown-menu {
  position: absolute;
}

.bootstrap-select .dropdown-toggle::after,
.bootstrap-select .dropleft .dropdown-toggle::before,
.bootstrap-select .dropright .dropdown-toggle::after,
.bootstrap-select .dropup .dropdown-toggle::after {
  display: inline-block !important;
}

.bootstrap-select .dropdown-menu li.active small {
  color: $text-muted !important;
}
*/

#confirm-delete {
  z-index: 10000;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.hidden-edit .edit-tools  {
  display: none;
}

.hidden-edit:hover .edit-tools {
  display: inline-block;
}

.input-group-text {
  background-color: $white;
  color: $gray-500;
}


.input-group-append .input-group-text {
  border-left: 0 !important;
}

/*
.input-group input {
  border-right: 0 !important;
}
*/

.input-group-focus .input-group-append .input-group-text {
  border-color: $input-focus-border-color !important;
}

.fileuploader {
  background: none !important;
  margin-top: 0 !important;
}
