.table-options .btn {
  padding: 0 .25rem !important;
}

.no-hover {
  pointer-events:none;
}

.bg-deleted {
  background-color: #fbf2f0;
  text-decoration: line-through;
  text-decoration-color: #c2573c;
}

.table-sort-placeholder {
  display: flex !important;
  background-color: lighten($yellow, 40%);
}

.tr-selected {
  background-color: lighten($yellow, 40%);
}