<div class="list-with-gap mb-3">
    <a href="./?print=product-list" class="btn btn-light btn-app" target="_blank">
        <i class="far fa-list text-primary"></i>
        {{ _('BTN_PRINT_PRODUCTS_LIST') }}
    </a>

    <a href="./?print=orders" class="btn btn-light btn-app" target="_blank">
        <i class="far fa-print text-primary"></i>
        {{ _('BTN_PRINT_ORDERS') }}
    </a>

    <a href="./?print=labels" class="btn btn-light btn-app" target="_blank">
        <i class="far fa-tags text-primary"></i>
        {{ _('BTN_PRINT_PRODUCTS_LABELS') }}
    </a>
</div>