<p>
    &copy; {{ "now"|date("Y") }} {{ settings.shopName }} Minden jog fenntartva
    <div style="line-height: 16px;" class="small mb-2 mt-2">
        <i>{{ _('LBL_DISCLAIMER_TEXT')|nl2br }}</i>
    </div>
    <span class="small">WebShop by <a href="https://buchlerwagner.com" class="text-white" target="_blank">BW</a></span>
</p>