<section class="page-title" style="background-image:url({{ theme }}images/backgrounds/34.jpg)">
    <div class="auto-container">
        <h1>{{ _('LBL_MAINTENANCE') }}</h1>
    </div>
</section>

<section class="contact-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="text">
                {{ _('LBL_MAINTENANCE_TEXT') }}
            </div>
        </div>
    </div>
</section>