<div class="modal fade" id="modal" data-blur="true" tabindex="-1" role="dialog" aria-labelledby="ajaxModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div>
	</div>
</div>
