{% import "doc-tools.twig" as tools %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="hu">
<head>
    <meta http-equiv="Content-Type" content="text/html;">
    <title></title>
    <style type="text/css" media="print">
        @page {
            margin: 0;
        }
        html, body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px;
            color: #000000;
            margin:0;
        }

        .big {
            font-size: 14px;
        }

        .small {
            font-size: 9px;
        }

    </style>
</head>
<body>


</body>
</html>
